* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.products {
  /* border: 1px dashed yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.products__list {
  /* border: 1px dashed red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 390px) {
  .products__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
}
.products__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px dashed green; */
  padding: 10px;
}

.item__photo {
  max-width: 300px;
  height: auto;
}

.item__photo img {
  width: 100%;
  height: 100%;
}

.item__order {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item__price {
  display: flex;
  justify-content: center;
  width: 100px;
}

.item__button button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.item__button button:hover {
  background-color: #928f8f85;
}
